*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --color-1: #eb233c;
}

html {
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
}

body {
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_navegation {
  width: 50%;
  min-width: 400px;
}

.menu ul {
  list-style: none; /* Aca quitamos las viñetas de la lista*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_menu_link, .button_cv_resumen {
  text-decoration: none;
  color: black;
  text-transform: capitalize; /*esta propiedad convierte las primeras letra en mayusculas*/
  font-weight: 600;
}

.item_menu_link::before {
    content: "01.";
    margin-right: 5px;
    color: var(--color-1)
}

.button_cv_resumen {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}


/* css logo */

.container_logo {
  width: 50px;
}

.container_logo img {
  width: 100%;
}
